[Desktop Entry]
Name=ProtonVPN Disconnect 
Exec=small_term sudo protonvpn d
Icon=/usr/lib/python3.8/site-packages//linux_gui/resources/img/logo/protonvpn_logo.png
Type=Application
Terminal=False
Categories=Utility;GUI;Network;VPN
